<script type="text/javascript" src="./jquery.min"></script>
<script type="text/javascript" src="./validators"></script>
<link rel="stylesheet" type="text/css" href="./global">

<form id="validation-test">
  <input type="number" data-validators="range" data-validate-range-min="0" data-validate-range-max="20" data-validate-range-strict="false" class="error"><br>
  <input type="text" data-validators="regex" data-validate-regex-pattern="[a-z]+"><br>
  <input type="submit" id="btn-validate" value="Validate">
</form>

<div id="errors">

</div>